.delete-content-title {
    margin: .5rem 0 0 1rem;
}
.delete-content {
     z-index: 9999;
     background-color: #fff;
     padding: .5rem;
     width: 600px;
     height: 125px;
     border-radius: 16px;
     margin: calc(50rem - 60%) .6rem;
}
.delete-content-buttons {
      display: flex;
      justify-content: flex-end;
      margin: 2rem  .5rem 0 0;
}
.delete-content-buttons span:first-child {
     margin-right: .3rem;
}