.delete-content-title {
    margin: .5rem 0 0 1rem;
}
.delete-content {
     z-index: 9999;
     background-color: #fff;
     padding: .5rem;
     width: 600px;
     height: 125px;
     border-radius: 16px;
     margin: 50vh .6rem;
     position: fixed;
}
.delete-content-buttons {
      display: flex;
      justify-content: flex-end;
      margin: 2rem  .5rem 0 0;
}
.delete-content-buttons span:first-child {
     margin-right: .3rem;
}

@media screen and (max-width: 760px) {
     .delete-content {
           width: 80%;
           height: fit-content;
           padding-bottom: 1rem;
     }
}