button {
    width: 120px;
    height: 32px;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: 700;
    align-self: end;
    line-height: 13px;
    outline: none;
}
button:hover { 
     cursor: pointer;
}
.enter:hover {
    background-color: var(--primary-color);
}

.enter:disabled {
    opacity: .7;
    background-color: #777777;
    cursor: default;
}
.enter {
    background-color: #7695EC;
    color: #ffffff;
}
.delete {
     background-color: #FF5151;
     color: #ffffff;
}
.cancel {
     color: #000000;
     background-color: unset;
     border: 1px solid #000000;
}
.save {
      background-color: #47B960;
      color: #ffffff;
}
.logout-button {
     background-color: unset;
     color: #c10404;
}
.logout-button:hover {
     color: rgba(193, 4, 4, .6);
}
.save:hover {
      background-color: rgba(71, 185, 96,.9);
}
.delete:hover {
     background-color: rgba(255, 81, 81, .9);
}
.cancel:hover {
     color: rgba(0, 0, 0, .7);
}
.bt-pagination {
      border: 1px solid rgba(99, 135, 237, .8);;
      color: rgba(99, 135, 237);
}
.bt-pagination:first-child:disabled,
.bt-pagination:last-child:disabled {
      color:  #777777;
      border: 1px solid #777777;
}
.bt-pagination:hover {
      color:  rgba(99, 135, 237, .8);
}
@media screen and (max-width:768px) { 
    button {
        width: 90px;
        height: 26px;
        font-size: 9pt;
     }
}
