.edit-item-content {
    background-color: #fff;
     padding: .5rem;
    width: 600px;
    height: fit-content;
    border-radius: 16px;
}
.edit-item-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 2rem  .5rem 0 0;
}
.edit-item-buttons span:first-child {
    margin-right: .3rem;
}