.main-content {
     height: 100vh;
     margin: 0 auto;
     background-color: #ffffff;
     
}
.main-content header {
      margin-top: 15px;
      height: 80px;
      background-color: #7695EC;
      position: relative;    
}
.main-content  h1 {
      font-size: medium;
      color: #ffffff;
      position: absolute;
      top: 20px;
      left: 30px;

}

.main-post-content-main {
      padding: 15px;
}
.main-post-content {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      border: 1px solid #999999;
      border-radius: 16px;
      padding: 15px;
}
.main-post {
     display: flex;
     flex-direction: column;  
}

@media screen and (min-width:768px) {
     .main-content {
          width: 800px;
     }
     .main-content header h1 {
          width: 299;
          height: 22px;
          font-size: 22px;
          font-weight: 700;
          line-height: 25.78px;
    }
}