.manege-actins-detele-edite {
      background-color: rgba(119, 119, 119, .8);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
}
.main-content {
      position: relative;
     height: fit-content;
     width: 90%;
     margin: 0 auto;
     background-color: #ffffff; 
}
.main-content header {
      height: 80px;
      background-color: #7695EC;
      position: relative;    
}
.main-content  h1 {
      font-size: medium;
      color: #ffffff;
      position: absolute;
      top: 30px;
      left: 20px;
}
.main-post-content-main {
      padding: 15px;
}
.main-post-content {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      border: 1px solid #999999;
      border-radius: 16px;
      padding: 15px;
}
.main-post {
     display: flex;
     flex-direction: column;  
}

@media screen and (min-width:768px) {
     .main-content {
          width: 800px;
     }
     .main-content header h1 {
          width: 299;
          height: 22px;
          font-size: 22px;
          font-weight: 700;
          line-height: 25.78px;
    }
}