label {
    height: 19px;
    font-size: 10pt;
    margin-bottom: 0.1rem;
    font-weight: 400;
    color: #000000;

}

@media screen and (min-width:768px) {
    label {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0.5rem;
        font-weight: 400;
    } 
}