.content-post-item {
     padding: 15px;
}
.header-post-item {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7695EC;
    color: #ffffff;
    border-radius: 16px 16px 0 0;    
}
.header-post-item  h2{
     color: #ffffff;
     float: left;
     margin: 1rem 0 1rem 1rem;
     word-wrap: break-word;
}
 .header-post-item-icons {
      width: 50px;
      float: right;
      display: flex;
      justify-content: space-between;
      margin: 1rem 1rem 0 1rem;
      transition: all 500ms ease-in-out;
      font-size: 22px;     
      font-weight: bolder;
 }
.header-post-item-icons span:first-child:hover { 
    color:#FF5151;
}
.header-post-item-icons span:last-child:hover { 
    color:#0fdd3c;
}
.header-post-item-icons span:hover { 
    font-size: 24px;     
}
.body-post-item {
     display: flex;
     flex-direction: column;
     padding: 10px;
     border: 1px solid #999999;
     border-top: none;
     border-radius: 0 0 16px 16px;
}
.body-post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #999999;
}
.content-post {
     margin-top: .5rem;
}
.content-post p {
     text-align: justify;
     font-size: 12pt;
     overflow: hidden;
}

@media screen and (min-width: 200px) and  (max-width:768px)  {
    .body-post-header span{
         font-size: smaller;
    }
    .header-post-item {
        height: max-content;
    }
    .header-post-item-icons {
        width: 3rem;
    }
}

@media screen and (min-width: 200px) and  (max-width:768px)  {


 }