input {
    border: 1px solid #777777;
    border-radius: 6px;
    margin-bottom: 0.8rem;
    line-height: 13px;
    color: #CCCCCC;
    padding: .8rem;
}
.large {
     height: 74px;
     text-indent: 0;
}
.small {
    height: 24px;
}

@media screen and (min-width:768px) { 
    input {
        height: 32px;
    } 

}