.signup-content-main {
    height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.signup-content {
    height: 100vh;
    height: fit-content;
    padding: 1.3rem;
    border-radius: 16px;
    background-color: #ffffff;
}
.signup-content div{ 
    display: flex;
    flex-direction: column;
}

