.signup-content-main {
    height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.signup-content {
    height: 100%;
    height: fit-content;
    padding: 1.3rem;
    border-radius: 16px;
    background-color: #ffffff;
}
.signup-content h2 {
     font-size: smaller;
     margin-bottom: 0.7rem;
     font-style: bold;
     font-weight: 800;
     align-self: flex-start;

}
.signup-content div{ 
    display: flex;
    flex-direction: column;
}
.signup-content label {
    height: 19px;
    font-size: 10pt;
    margin-bottom: 0.3rem;
    font-weight: 400;
    color: #000000;
}
/* .signup-content input {
    height: 20px;
    border: 1px solid #777777;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    line-height: 13px;
    color: #CCCCCC;
    text-indent: 10px;
} */

@media screen and (min-width:768px) {
   .signup-content h2 {
        align-self: flex-start;
        font-size: 22px;
        margin-bottom: 0.9rem;
        font-weight: 800;
   }
   /* .signup-content input {
       height: 32px;
       width: 452px;
       border-radius: 8px;
   } */
   .signup-content label {
       font-size: 16px;
       line-height: 18px;
       margin-bottom: 0.5rem;
       font-weight: 400;
   }   
}