
#root {
   --main-color: #7695EC;
   --primary-color: rgba(99, 135, 237);
   --white-color: #ffffff;
}

body {
    background-color: #dddddd;
    font-family: sans-serif;
    width: 100%;
 }
 
 * {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
 }
